.workerProfileBtn {
    font-size: 16px;
    background: #FBBC04;
    border: #494949 1px solid;
}

.formIcon {
    color: #FBCC04;
    background: #494949;
    width: 45px;
    border: #FBCC04 .5px dotted
}

.formInput {
    border: #FBBC04 .5px dotted
}

.fileControl{
    display: none;
}

.profilePicAccount {
    width: 180px;
    height: 180px;
}

.profileForm {
    margin: auto;
}

.profilePicChange {
    text-align: center;
    position: absolute;
    width: 180px;
    height: 180px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background: rgba(73, 73, 73, 0.72);
    padding: 20px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.imgWrap {
    position: relative;
    height: 180px;
    width: 180px;
    margin: auto;
    overflow: hidden;
}

.imgWrap:hover .profilePicChange {
    visibility: visible;
    opacity: 1;
}

.profilePicChangeLink {
    font-size: 20px;
    color: #FBCC04;
}

.profilePicChangeLink:hover {
    font-size: 20px;
    color: #FBCC04;
    font-weight: bold;
}