.modal-content{
    background-color: #494949;
    opacity: 0.9;
}

.modal-title {
    border: 2px solid #000;
    font-family: sans-serif;
    padding: 11px;
    font-size: 28px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-weight: bold;

}

.modal-header {
    border-bottom: none !important; 
}

.modal-footer {
    border-top: none !important;
    justify-content: center !important;
}

.modal-body {
    text-align: center;
}

.radio-alignment {
    margin: 0px 64px 0px 4px;

}

.options-text {
    color: #fff;
    margin-left: 4px;

}

.marR64 {
    margin-right: 64px;
}

.container {
    background-position: bottom;
    margin: 0px;
    width: 100%!important;
    max-width: 100%!important;
    background-size: 1516px;
    background-repeat: no-repeat;
}



