.signInWrapper{
    width: 100%
}

.buttonSignIn{
    text-align:right
}

.buttonMargin{
    margin:10px
}

.rightMargin{
    margin-right: 20px
}

.logoutBtn {
    background-color: #343A40;
    color: #DC3545;
    border: 0px
}
